
<p>Checkout</p>


@*<div class="form-group"  >
    @Html.LabelFor(c => c.Order.FirstName)
    @Html.TextBoxFor(c => c.Order.FirstName, new { @class = "form-control"})
    @Html.ValidationMessageFor(c => c.Order.FirstName)
</div>*@


