@model ViewModels.OrderCompletedViewModel

<h1>Bestelling ontvangen!</h1>

<p>We hebben je bestelling met ordernummer @Model.OrderId ontvangen op @Model.Date.ToShortDateString()</p>
<p>We gaan hier meteen mee aan de slag!</p><br/>
<p>Overzicht van je bestellingen: </p>
<a asp-controller="Home" asp-action="Index">Bekijk nog meer producten</a>
<br />


