@model IEnumerable<Webshop.Domain.Models.Product>
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
  <ul>
      @foreach (var product in Model)
      {
          <li>@product.Name</li>
      }
  </ul>
</div>
