@model ViewModels.Product.ProductFormViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">@Model.FormTitle</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Save">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="col-form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="col-form-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionShort" class="col-form-label"></label>
                <input asp-for="DescriptionShort" class="form-control" />
                <span asp-validation-for="DescriptionShort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionLong" class="col-form-label"></label>
                <textarea asp-for="DescriptionLong" class="form-control"></textarea>
                <span asp-validation-for="DescriptionLong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="col-form-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Toevoegen" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



